@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
}

.row{
    padding: 3px;
}

label{
    text-align: left;
}

#sectionheader{
    color: #001f60;
}
input[type="text"],input[type="submit"], input[type="number"], .form-select{
    text-transform: capitalize;
    border-radius: 30px;
}

input[type="email"]{
    text-transform: lowercase;
    border-radius: 30px;
}

#atleta {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

#colored{
    color: red;
}

#submitbtn{
    background-color: #00b5e2;
    color: white;
    font-weight: bold;
}
#submitbtn:hover{
    background-color: #fce300;
    color: #001f60;
    font-weight: bold;
}
